/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 60px;
    padding: 30px 0px;
}

header img:hover {
    cursor: pointer;
}

header ul {
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

header li {
    display: flex;
    flex-direction: column;
    list-style: none; 
}

header a {
    padding-top: 15px;
}

header .line {
    width: 100%;
    height: 2px;
}

header .line:hover {
    cursor: pointer;
}

header li:hover .line {
    background-color: var(--main-color)
}

header li:hover a {
    color: var(--main-color)
}

nav li:hover + li a {
    color: #000; 
}

nav li:hover + li .line {
    background: transparent
}

li:nth-child(2) .line {
    background-color: var(--main-color)
}

li:nth-child(2) a {
    color: var(--main-color)
}

/****** Info group ***********/

.info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.info-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-text h1 {
    font-size: 22px;
    margin: 0;
}

.info-text p {
    font-size: 16px;
    margin: 0;
}

/*** Form ***/

.info-group form {
    display: flex;
}

.info-group form label, form img, form input, form button {
    height: 49px;
}

.info-group form label {
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-group form .fa-solid.fa-location-dot {
    font-size: 18px;
    color: #000000;
}

.info-group form input {
    border: 0;
    outline: none;
    text-align: center;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    font-weight: 900;
}

.info-group input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

.info-group form button {
    border: 0;
    
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    cursor: pointer;
    font-weight: 900;
    color: #ffffff;
    padding: 0 7px;
}

.info-group form button .fa-solid.fa-magnifying-glass {
   color: #ffffff;
    display: none;/*** Ajouter en largeur mobile ***/
   
}

/*** Filter ***/

.filter {
    display: flex;
    gap: 15px;
    align-items: center;
}

.filter p {
    font-weight: 900;
    margin: 0;
}

.filter .buttons-container {
    display: flex;
    gap: 15px;
}

.filter .buttons-bloc {
    display: flex;
    gap: 15px;
}

.filter button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    padding: 0 19px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    background: #ffffff;
    font-weight: 900;
    cursor: pointer;
}

.filter button:hover {
    background: var(--filter-bg-color);
}

.filter i {
    font-size: 18px;
}

.information {
    display: flex;
    align-items: center;
    gap: 10px;
}

.information-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information i {
   font-size: 12px;
}

.information p {
    font-size: 16px;
    margin: 0;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements h2, .hebergements h3, .hebergements p {
    margin: 0;
}

.hebergements h2 {
    font-size: 22px;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cards-bloc {
    display: flex;
    gap: 30px;
}

.hebergements-cards a {
  flex: 1;
} 

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding: 10px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements p {
    font-size: 14px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******  Activités ******/

.activite {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activite h2, .activite h3 {
    margin: 0;
}

.activite-cards {
    display: flex;
    gap: 30px;
}

.activite-cards a {
    flex: 1;
}

.activite-cards .card {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activite-cards img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 380px;
}

.activite-cards h3 {
    font-size: 16px;
    padding: 20px 19px;
    display: flex;
    flex: 1;
    align-items: center;
}

/**** Footer ****/

footer {
    background: #F2F2F2;
    display: flex;
}

.footer-bloc {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    padding: 20px;
}

.footer-bloc h3 {
    font-size:18px;
    margin: 0;
}

.footer-bloc a {
    font-size:16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
   
    .main-container {
        padding: 0;
    }

    /*** Header media queries ***/ 
    
    header {
        flex-direction: column;
    } 

    header img {
        margin: auto;
    }

    header ul {
        justify-content: space-evenly;
        gap: 0;
    }

    header li {
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    }

    header a {
        width: 100%;
        height: 100%;
        padding-bottom: 15px;
    }

    header .line {
        height: 4px;
    }

    li:nth-child(1) .line {
        background: var(--main-bg-color);
    }
    
    nav li:hover + li .line {
        background: var(--main-bg-color);
    }

    /*** Info-goup media queries ***/ 

    .info-group {
        padding: 0 20px;
    }

    .info-group form {
        width: 100%;
    }

    .info-group form label {
        flex-shrink: 0;
    }

    .info-group form input {
        width: 100%;
    }

    .info-group form button {
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
        margin-left: -10px;
        padding: 0;
        font-size: 0;
    }

    .info-group form button .fa-solid.fa-magnifying-glass {
        display: block;
        font-size: 17px;
        padding: 16px 16px;
    }

    /*** Filter media queries ***/

    .filter .buttons-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .filter .buttons-bloc {
        width: 100%;
    }

    .filter button {
        width: 100%;
    }

    /*** Hebergement et populaires media queries ***/ 

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires .hebergements {
        padding: 20px 20px;
        background-color: transparent
    }

    .hebergements .cards-bloc {
        flex-direction: column;
        gap: 15px;
    }

    .hebergements .card {
       height: auto;
    }

    .populaires {
        margin: 0;
        padding: 30px 20px;
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin: 0;
    }

    /*** Activite media queries ***/ 

    .activite-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activite img {
        height: 141px;
    }

    /*** Footer media queries ***/ 

    footer {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .footer-bloc {
        padding: 0;
    }
}